#banner {
    display: flex;
    height: 100vh;
    background-color: rgb(245, 92, 53);
    justify-content: center;
    padding: 35px 100px 0;
    flex-wrap: wrap;
}

#top {
    display: flex;
    justify-content: space-between;
    width: 95vw;
}

.s-icons {
    color: rgb(224, 217, 217);
    margin: 2rem 0 0 0;
    padding: 2rem;
}

.name {
    font-family: "Trirong", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(224, 217, 217);
}

.banner-content {
    display: flex;
    height: 80vh;
    align-items: center;

}

.banner-content .left img {
    border: 4px #fff solid;
    border-radius: 50%;
    padding: 2rem;
    margin: 2rem;
}

.banner-content .right {
    font-size: 1.7rem;
    margin: 3rem 0 0 0;
    color: rgb(224, 217, 217);
}

.banner-content .right span {
    display: block;
    font-size: 3rem;
}
.banner-closing {
    display: flex;
    padding: 40px;
}
.banner-content .right button {
    padding: 15px 20px;
    border-radius: 20px;
}

/* about css */
section#about {
    height: 50vh;
}
#about .about {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 40px;
    margin: 40px ;
    justify-content: center;
}
section#about .about .about-image {
    display: flex;
    background-color: rgb(207, 181, 174);
    border: 4px #fff solid;
    padding: 40px;
    text-align: center;
    border-radius: 10px 10px;
}
section#about .about .about-image img {
    width: 100%;
}
section#about .about .about-write-up {
    font-size: 3rem;
    padding: 0 40px;
}


/* media query for banner*/
@media screen and (max-width: 997px) {
    #banner {
        height: 140vh;
    }

    .name {
        text-align: center ;
        font-size: 1.5rem;
    }

    .banner-content {
        flex-direction: column;
    }

    .banner-content .left img {
        width: 70%;
    }

    .banner-content .right {
        width: auto;
    }

    .banner-content .right h1,
    h2 {
        text-align: center;
    }

    #top {
        flex-direction: column;
        justify-content: center;
    }

    .s-icons {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    #banner {
        height: 140vh;
    }
    
}
@media screen and (min-width: 997px) {
    .banner-content {
        justify-content: center;
    }
}

/* media queries for about section */
@media screen and (max-width: 1200px) {
    section#about .about .about-image img {
        width: 100%;
    }
    section#about .about .about-write-up p {
        font-size: 1.3rem;
    }
}
@media  screen and (max-width: 997px) {
    section#about {
        margin-top: 20rem;
    }
}
@media screen and (max-width: 1000px) {
    section#about .about {
        display: flex;
        flex-direction: column;
    }
}